*{
    width: full
    ;
}
.posts {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.icon {
    color: rgb(109, 125, 168);
    font-size: 3rem;
    border: 2px solid rgb(109, 125, 168);
    border-radius: 50%;
}

.noPost {
    margin: auto;
    text-align: center;
    font-size: 3rem;
    display: flex;
    flex-flow: column nowrap;
    &:first-child {
        color: rgb(109, 125, 168);
    }
}