.register {
    background-color: rgb(102, 119, 155);
    background-size: cover;
    background-position: center;
  }

  .dark {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.374);
  }
  
  .registerTitle {
    font-size: 4rem;
  }
  
  .registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .registerForm > label {
    margin: 10px 0;
  }
  
  .registerInput {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .registerInput:focus {
    outline: none;
  }
  
  .registerButton {
    margin-top: 20px;
    cursor: pointer;
    background-color:rgb(109, 125, 168);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    text-align: center;
    &:hover {
        filter: brightness(105%);
    }
  }
  
  .registerLoginButton {
    position: absolute;
    top: 90px;
    right: 20px;
    background-color: rgb(240, 111, 111);
    cursor: pointer;
    padding: 10px;
    border: none;
    color: white;
    border-radius: 10px;
    &:hover {
        filter: brightness(110%);
    }
  }