.footer {
    background-color:  rgb(109, 125, 168);
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .footer-link {
    margin: 0 15px;
    text-decoration: none;
    color: #555;
  }
  
  .footer-link:hover {
    color: #c9c9c9;
  }
  